<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title translate="title"></title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/material-kit.css" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="assets/css/demo.css" rel="stylesheet"/>
    <link href="assets/css/style.css" rel="stylesheet"/>

</head>

<body class="index-page" ng-controller="navbarController">

<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://www.creative-tim.com">
                <div class="logo-container">
                    <div class="brand" translate="author"></div>
                </div>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-index">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="dropdown-toggle" data-activates="dd_languages" dropdown><span
                        translate="languages"></span></a></li>
                <li>
                    <a rel="tooltip" title="Like us on Facebook" data-placement="bottom"
                       href="https://www.facebook.com/ngocnh210" target="_blank"
                       class="btn btn-white btn-simple btn-just-icon">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a rel="tooltip" title="Subscribe us on Youtube" data-placement="bottom"
                       href="https://www.instagram.com/ngocnh210" target="_blank"
                       class="btn btn-white btn-simple btn-just-icon">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
            </ul>
            <ul id="dd_languages" class="dropdown-content">
                <li><a ng-click="changeLanguage('vi')" translate="vietnamese"></a></li>
                <li><a ng-click="changeLanguage('en')" translate="english"></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<div class="wrapper">
    <div class="header header-filter" style="background-image: url('assets/images/background3.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1 translate="title"></h1>
                        <h3 translate="description"></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container" ng-view></div>
        </div>
    </div>
</div>

<!-- build:js modules/main.js -->
<script src="libraries/requirejs/require.js" data-main="modules/main"></script>
<!-- /build -->

</body>
</html>
